@import '../../../variables';

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 12px;

  width: 100%;

  padding-bottom: 7px;
  border-bottom: 2px solid $c-gray-2;

  font-weight: bold;

  h3 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
