@import '../../../../variables';

.Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

  padding-bottom: 5px;
  color: $c-gray-4;

  font-size: 1rem;
  line-height: 1.375;
  font-weight: bold;
}
