@import '../../variables';

.Input {
  position: relative;

  outline: none;
  border: none;
  background-color: transparent;

  width: 100%;
  padding-top: 13px;
  padding-bottom: 11px;

  border-bottom: 1px solid transparentize($c-blue, 0.5);
  color: $c-black;

  font-size: 0.9rem;
  line-height: 1.15;
}

.Input::placeholder {
  color: transparentize($c-blue, 0.5);
}

.Input:focus {
  border-color: $c-blue;
}

.Error {
  border-color: $c-blue;
}
