@import '../../variables';

.Field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  color: $c-gray-3;

  text-transform: lowercase;
  font-size: 0.875rem;
  line-height: 1;
}

.Error {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;

  color: $c-red;
}
