@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-Thin.eot');
  src: url('Assets/Fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-Thin.woff') format('woff'),
    url('Assets/Fonts/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-ExtraLight.eot');
  src: url('Assets/Fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-ExtraLight.woff') format('woff'),
    url('Assets/Fonts/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-Light.eot');
  src: url('Assets/Fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-Light.woff') format('woff'),
    url('Assets/Fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-Regular.eot');
  src: url('Assets/Fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-Regular.woff') format('woff'),
    url('Assets/Fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-Bold.eot');
  src: url('Assets/Fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-Bold.woff') format('woff'),
    url('Assets/Fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('Assets/Fonts/Circe-ExtraBold.eot');
  src: url('Assets/Fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Assets/Fonts/Circe-ExtraBold.woff') format('woff'),
    url('Assets/Fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
